* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    min-height: 100vh;
    background: #f4f6f8;
}
.sidebar {
    width: 240px;
    background: #361914;
    color: white;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease, transform 0.3s ease;
    overflow: hidden;
}

.sidebar.closed {
    width: 70px;
}

/* Logo */
.logo {
    height: 70px;
    display: grid;
    place-items: center;
    font-weight: bold;
    letter-spacing: 2px;
    background: #250d0d;
}

/* Nav Links */
nav {
    flex: 1;
    padding: 20px 10px;
}

.link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 10px;
    color: #cbd5f5;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.2s;
}

.link:hover {
    background: #250000;
}

.icon {
    width: 30px;
    text-align: center;
    font-size: 18px;
}

.text {
    white-space: nowrap;
    transition: opacity 0.2s ease;
}

.sidebar.closed .text {
    opacity: 0;
    pointer-events: none;
}

/* Toggle Button */
.toggle-btn {
    background: #210303;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
}

/* Main Content */
.content {
    flex: 1;
    padding: 30px;
}

/* Mobile Toggle Button */
.mobile-toggle {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 24px;
    background: #351d1d;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    z-index: 999;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    body {
    flex-direction: column;
    }

    .sidebar {
    position: fixed;
    height: 100vh;
    transform: translateX(-100%);
    z-index: 998;
    }

    .sidebar.open {
    transform: translateX(0);
    }

    .mobile-toggle {
    display: block;
    }
}